/**********************************
* Code by Kanishka Mohan Madhuni *
**********************************/

/* Common Styles goes here */

#print-from-storage-view {
	/*text-align: center;*/
}

/* Styles for the Navigation Wizard goes here */

.choose-storage__heading {
	font-size: 22px;
	font-weight: 500px;
	margin: 0;
	padding: 14px 0 17px;
	text-align: center;
}

.choose-storage {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0 32px;
	width: 100%;
}

.choose-storage__item {
	width: 360px;
	height: 336px;
	border-radius: 10px;
	background-color: #BBB;
	position: relative;
}

.choose-storage__item--external {
	margin-right: 8px;
}

.choose-storage__item--internal {
	margin-left: 8px;
}

.choose-storage__item a {
	display: block;
	width: 100%;
	height: 100%;
	color: black;
	text-decoration: none;
}

.choose-storage__item a:hover {
	color: black;
	text-decoration: none;
}

.choose-storage__item__img-heading-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.choose-storage__item__sub-heading {
	padding: 36px 0;
	margin: 0;
}

/* Styling for External Stroage Wizard goes here */

.external-storage-wizard__heading {
	font-size: 22px;
	text-align: center;
	padding: 14px 0 9px;
	font-weight: 500;
	margin: -32px 0 0;
}

.external-storage-wizard__files-list {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 89%;
	height: 336px;
	overflow-y: scroll;
}

.external-storage-wizard__files-list__file {
	/*display: flex;*/
	/*flex-direction: row;*/
	height: 56px;
	border-bottom: .5px solid gray;
}

.external-storage__file-img {
	float: left;
}

.external-storage__file-name {
	line-height: 56px;
	vertical-align: middle;
	float: left;
	padding: 0 17px;
	font-size: 20px;
}