<div class="row heading">
	<div class="small-12 title-heading">
		<h1 class="bold">{{astroboxName}}</h1>
	</div>
</div>

<div id="app-container" class="row">
	<div class="alert-box warning serial-log radius">
		{{ _('serialLogEnable') }} <a href="#settings/software-advanced">{{ _('disableHere') }}</a>
	</div>
	{% if checkSoftware %}
		<div class="alert-box alert new-release radius hide">
			<i class="icon-download-cloud"></i> <b>{{ _('newSoftware') }}</b> <span class="version-label"></span> {{ _('availableFor') }} <a href="#" class="check button success radius">{{ _('moreInfo') }}</a>
			<a href="#" class="close">&times;</a>
		</div>
	{% endif %}
	<ul class="small-block-grid-3 large-block-grid-6">
		<li>
			<span class="upload-btn expand">
				<div class="app-image">
					<img src="/static/img/upload-icon.png" alt="file upload icon"/>
					<div class="overlay">
						<div class="contain"><h4 class="bold">{{ _('upload') }}</h4></div>
						<input class="file-upload" type="file" name="file" data-url="/ajax/designs/upload" accept=".stl, .gcode, .gco">
					</div>
					<div class="progress">
						<span class="bold">0<i>%</i></span>
					</div>
					<div class="failed">
						<i class="icon-attention"></i>
					</div>
				</div>
			</span>
			<h1 class="bold">{{ _('fileUploader') }}</h1>
		</li>

		<li>
			<a href="#files"><div class="app-image">
				<img src="/static/img/file-manager-icon.png" alt="file manager icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">{{ _('launch') }}</h4></div></div></div>
			</a>
				<h1 class="bold">{{ _('fileManager') }}</h1>
		</li>
		<li>
			<a href="#control"><div class="app-image">
				<img src="/static/img/control-icon.png" alt="control icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">{{ _('launch') }}</h4></div></div></div>
			</a>
				<h1 class="bold">{{ _('control') }}</h1>
		</li>
		<li>
			<a href="#camera"><div class="app-image">
				<img src="/static/img/camera-icon.png" alt="camera icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">{{ _('launch') }}</h4></div></div></div>
			</a>
				<h1 class="bold">{{ _('camera') }}</h1>
		</li>
		<li>
			<a href="#settings"><div class="app-image">
				<img src="/static/img/settings-icon.png" alt="settings icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">{{ _('launch') }}</h4></div></div></div>
			</a>
				<h1 class="bold">{{ _('settings') }}</h1>
		</li>
		<li class="gcode-terminal-app-icon">
			<a href="#gcode-terminal"><div class="app-image">
				<img src="/static/img/gcode-terminal-icon.png" alt="settings icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">{{ _('launch') }}</h4></div></div></div>
			</a>
				<h1 class="bold">{{ _('gcTerminal') }}</h1>
		</li>
		<li>
			<a href="{{variantData['supportLink']}}"><div class="app-image">
				<img src="/static/img/support-icon.png" alt="support icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">{{ _('visit') }}</h4></div></div></div>
			</a>
				<h1 class="bold">{{ _('support') }}</h1>
		</li>
		{% if variantData['suppliesLink'] %}
		<li>
			<a href="{{variantData['suppliesLink']}}"><div class="app-image">
				<img src="/static/img/supplies-icon.png" alt="supplies icon"/>
				<div class="overlay"><div class="contain"><h4 class="bold">{{ _('visit') }}</h4></div></div></div>
			</a>
				<h1 class="bold">{{ _('supplies') }}</h1>
		</li>
		{% endif %}
	</ul>
</div>
