
window.BABEL_TO_LOAD_{{ catalog.locale }} = {{ catalog | tojson | safe }};

LOCALE = localeUser;
var catalog = window["BABEL_TO_LOAD_" + LOCALE];
if (catalog === undefined) {
    catalog = {messages: undefined, plural_expr: undefined, locale: undefined, domain: undefined}
}
babel.Translations.load(catalog).install();
