<div class="row">
	<div class="small-12 columns" align="center">
		<i class="icon-refresh animate-spin"></i>
		<h1 class="bold loading">{{ _('rebooting') }}...</h1>
		<h2 class="bold done">{{ _('waitFor') }} {{variantData['productName']}} {{ _('toReboot') }}</h2>
	</div>
</div>

<div id="reboot-modal" class="reveal-modal medium radius" data-reveal align="center">
	<h2 class="bold">{{ _('restart') }} {{variantData['productName']}}</h2>
	<div class="modal-body">
		<p>{{variantData['productName']}} {{ _('willStart') }}</p>
		<p>{{ _('aysure') }}Are you sure?</p>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<button class="secondary radius expand">{{ _('cancel') }}</button>
		</div>
		<div class="small-12 medium-6 columns">
			<button class="alert radius expand">{{ _('yesRestart') }}</button>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
