<div class="row">
	<div class="small-12 columns" align="center">
		<i class="icon-off blink-animation"></i>
		<h1 class="bold loading">{{ _('goingToSleep') }}...</h1>
		<h2 class="bold done">{{ _('safeToUnplug') }}{{variantData['productName']}}</h2>
	</div>
</div>

<div id="turnoff-modal" class="reveal-modal medium radius" data-reveal align="center">
	<h2 class="bold">{{variantData['productName']}} {{ _('shutdown') }}</h2>
	<div class="modal-body">
		<p>{{variantData['productName']}} {{ _('willGoSuspend') }}</p>
		<p>{{ _('aysure') }}</p>
	</div>
	<div class="row">
		<div class="small-12 medium-6 columns">
			<button class="secondary radius expand">{{ _('cancel') }}</button>
		</div>
		<div class="small-12 medium-6 columns">
			<button class="alert radius expand">{{ _('yesShutDown') }}</button>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
