<div class="row">
	<div class="small-12 columns text-center panel">
		<img src="/img/browser-disconnect-icon.png" alt="browser disconnected icon"/>
		<h3 class="bold"><span class="box-name">{{astroboxName}}</span> {{ _('lostConnection') }}has lost its connection with your browser.</h3>
		<p>{{ _('connectionLost2-2') }}The connection between <b>{{astroboxName}}</b> {{ _('connectionLost2-2') }}and your browser has been lost. Possible causes for this include:</p>
		<ul align="left" class="small-12 medium-8 columns small-centered">
			<li><b>{{astroboxName}}</b> {{ _('goneOffline') }}has gone offline, lost power or was switched off.</li>
			<li>{{ _('deviceDiffeNetwork1-2') }}The device you're using to access <b>{{astroboxName}}</b> {{ _('deviceDiffeNetwork2-2') }}is connected to a different network.</li>
		</ul>
		<p>{{ _('tryUsingButton') }}Try using the button below to reconnect.</p>
		<div class="loading-button">
			<button class="success radius">{{ _('tryReconnecting') }}Try Reconnecting Now</button>
			<span class="success disabled radius button loading"><i class="icon-rocket-spinner animate-spin"></i>{{ _('checking') }}Checking...</span>
		</div>
	</div>
</div>
